<%- include("../partials/header", {pageTitle: "Signup"}) %>
    <% if (message) { %> <% console.log("logging from views "+message) %>
    <p><%= message %></p>
    <% } %>
    <h4>Welcome to Posts App</h4>
    <h5>Signup</h5>
    <form action="/signup" method="POST">
      <p>E-mail <input type="text" name="email" /></p>
      <p>Password <input type="password" name="password" /></p>
      <input type="submit" name="signup" value="Signup" />
    </form>
  </body>
</html>
