    <%- include('./main', {pageTitle: pageTitle}) %>

    <link rel="stylesheet" href="/css/demo.css" />
    <link rel="stylesheet" href="/css/header-basic.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Cookie"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header class="header-basic">
      <div class="header-limiter">
        <h1>
          <a href="#">Blog<span>App</span></a>
        </h1>

        <nav>
          <a href="/" name="Home">Home</a>
          <% if (isAuthenticated) { %>
          <a href="/createpost" name="Create">Create Blog</a>
          <% } %>
          <% if (!isAuthenticated) { %>
          <a href="/login" name="Login">Login</a>
          <a href="/signup" name="Signup">Signup</a>
          <% } else { %>
          <a href="/logout" name="Logout">Logout</a>
          <% } %>
        </nav>
      </div>
    </header>
