<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    <link rel="stylesheet" href="/css/demo.css" />
    <link rel="stylesheet" href="/css/header-basic.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Cookie"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header class="header-basic">
      <div class="header-limiter">
        <h1>
          <a href="#">Blog<span>App</span></a>
        </h1>

        <nav>
          <a href="/" name="Home">Home</a>
          <a href="/createpost" name="Create">Create Blog</a>
          <a href="/login" name="Login">Login</a>
          <a href="/signup" name="Signup">Signup</a>
        </nav>
      </div>
    </header>
  </body>
</html>
