<%- include("./partials/header", {pageTitle: "Create Post"}) %>
      <div class="container">
    <form action="/createpost" method= "POST">
      <p> Post   <input type="text" name="post" label="Post" ></input></p>
      <p> Author <input type="text" name="author" label="Author"></input></p>
      <p>        <input type="submit" value="Create Post"/> </p>
    </form>
    </div>
  </body>
</html>