<%- include("./partials/header", {pageTitle: "Edit Post"}) %>
      <div class="container">
    <form action="/updatepost" method= "POST">
      <p> Post   <input type="text" name="post" label="Post" value="<%= postdata.post %>"></input></p>
      <p> Author <input type="text" name="author" label="Author" value="<%= postdata.author %>"></input></p>
      <input type="hidden" name="id" value="<%= postdata.id%>" />
      <p>        <input type="submit" value="Update Post"/> </p>
    </form>
    </div>
  </body>
</html>
